In [1]:
import pandas as pd

In [2]:
pd.options.display.max_rows = 10
pd.options.display.max_columns = None

In [3]:
df = pd.read_excel('sample.xlsx', sheet_name = '実績管理表')
df

           売上日  社員ID      氏名 性別  商品分類     商品名     単価  数量   売上金額
0   2020-01-04  a023   河野 利香  女  ボトムス  ロングパンツ   7000   8  56000
1   2020-01-05  a003  石崎 和香菜  女  ボトムス    ジーンズ   6000  10  60000
2   2020-01-05  a052    井上 真  女  アウター   ジャケット  10000   7  70000
3   2020-01-06  a003  石崎 和香菜  女  ボトムス  ロングパンツ   7000  10  70000
4   2020-01-07  a036    西尾 謙  男  ボトムス  ロングパンツ   7000   2  14000
..         ...   ...     ... ..   ...     ...    ...  ..    ...
219 2020-12-26  a052    井上 真  女  アウター     ダウン  18000   4  72000
220 2020-12-28  a036    西尾 謙  男  アウター     ダウン  18000   3  54000
221 2020-12-30  a003  石崎 和香菜  女  アウター     ダウン  18000   4  72000
222 2020-12-30  a047   上瀬 由和  男  ボトムス  ハーフパンツ   3000   3   9000
223 2020-12-31  a036    西尾 謙  男  ボトムス  ロングパンツ   7000  10  70000

[224 rows x 9 columns]