In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                 columns=['col01', 'col02','col03'],
                 index=['index01','index02','index03'])
df

         col01  col02  col03
index01      1      2      3
index02      4      5      6
index03      7      8      9

In [3]:
import numpy as np

In [4]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),
                 columns=['col01', 'col02','col03'],
                 index=['index01','index02','index03'])
df

         col01  col02  col03
index01      1      2      3
index02      4      5      6
index03      7      8      9

In [5]:
df.index

Index(['index01', 'index02', 'index03'], dtype='object')

In [6]:
df.columns

Index(['col01', 'col02', 'col03'], dtype='object')

In [7]:
df = pd.DataFrame({'col01': [1,2,3],
                  'col02': [4,5,6],
                  'col03': [7,8,9]})
df

   col01  col02  col03
0      1      4      7
1      2      5      8
2      3      6      9

In [11]:
df = pd.DataFrame({'col01': [1,2,3],
                  'col02': [4,5,6],
                  'col03': [7,8,9]})
df.index=['idx01','idx02','idx03']
df

       col01  col02  col03
idx01      1      4      7
idx02      2      5      8
idx03      3      6      9

In [12]:
df = pd.DataFrame({'col01': [1,2,3],
                  'col02': [4,5,6],
                  'col03': [7,8,9]},
                    index=['idx01','idx02','idx03'])
df

       col01  col02  col03
idx01      1      4      7
idx02      2      5      8
idx03      3      6      9

In [14]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
df.columns = ['col01','col02','col03']
df

   col01  col02  col03
0      1      2      3
1      4      5      6
2      7      8      9

In [20]:
df.index = ['idx01','idx02','idx03']
df

       col01  col02  col03
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9

In [21]:
df

       col01  col02  col03
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9

In [22]:
df.columns = ['col04','col05','col06']
df

       col04  col05  col06
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9